<h1>Results Page</h1>

<% parsedData["Search"].forEach(function(movie){ %>
    <li><%= movie.Title %> (<%= movie.Year %> )</li>
    <img src="<%= movie.Poster %>" alt="<%= movie.Title %>">
    <% }) %>
    
<button><a href="/">Search Again</a></button>