<h1>Friends List</h1>

<% friends.forEach(function(friend){ %>
    <li><%= friend %> </li>
<% }) %>

<form method="POST" action="/addfriend">
    <input type="text" name="friend" placeholder="name">
    <button>I made a new friend!</button>
</form>